.login {
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;

    .sign-in {
        background-color: #fff;
        width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 10;
        padding: 50px;
        box-shadow: 5px 0 10px 0 #00000056;

        .logo {
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            #logo-icon {
                width: 240px;
                height: 100px;    
            }

            #logo-nome {
                width: 100px;
                height: 100px;
            }
        }

        .area-input {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            width: 100%;
            height: 250px;

            input {
                width: 100%;
                height: 50px;
                border: 2px solid #206d20;
                outline: none;
                padding-left: 20px;
                border-radius: 5px;
            }

            input::placeholder{
                color: #00000057;
                font-weight: bold;
            }
        }

        #bnt-submit {
            width: 100%;
            height: 50px;
            background-color: #206d20;
            border: 1px solid transparent;
            color: #fff;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            font-size: 15px;
            transition: .2s;
        }

        #bnt-submit:hover {
            background-color: #fff;
            border-color: #206d20;
            color: #000;
        }
    }

    .sign-in-photo {
        width: 70%;
        height: 100%;
        overflow: hidden;
        background-color: pink;
        position: relative;

        #mini-logo {
            width: 50px;
            height: 50px;
            object-fit: cover;
            position: absolute;
            right: 10px;
            top: 10px;
            border-radius: 5px;
        }
        
        #wallpaper-suape {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}