* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

@media (max-width: 1000px){

  .menu-lateral {
    width: 200px;
  }

  .hidden {
    width: 60px;
  }
  
  /*
  .home {
     background-color: red; 
  }
  */
}